html {
  --top-bar-height: 48px;
  --sidebar-width: 260px;
  --main-width: calc(100vh - 260px);
  --main-height: calc(100vh - 48px);
  --text-default-color: #213547;
}

html.dark {
  --text-default-color: rgb(255 255 255 / 87%);
}
